#logout-button {
	margin-right: auto;
	width: 10vw;          
  	height:5vh;
	background-color: #FF5050;
}

#settings-button {
	margin-left: auto;
	width: 10vw;          
  	height:5vh;
	background-color: #7070FF;
}


.bodyContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  gap: 40px;
}

.modeStack {
  display: flex;
  flex-direction: column;
  width: 280px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 16px;
}


.modeTitle {
	font-size: 2rem;
	font-weight: 700;
	height: 15px;
}

.modeImgContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	border: 2px solid black;
	
	min-height: 150px;
}

.modeImg {
	max-width: 100%;
}

.lbButton {
	width: 90%;
	height: 100px;
	font-size: 1rem;
	background-color: #90D090;
}