@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#root {
	width: 100vw;
	height: 100vh;
}

.font-roboto {
	font-family: 'Roboto', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.pageHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 5%;
	padding: 10px;
}

.headerTitle {
	font-size: 1.25rem;
	font-weight: 500;
	margin: 2px;
}

.headerButtonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100%
}

.headerButton {
	height: 25px;
	width: 60px;
	margin: 5px;
	margin-top: 2px;
	
	font-size: 0.5rem;
	border: 1px solid black;
	border-radius: 3px;
	background-color: grey;
}

#quit-button {
	margin-right: auto;
	background-color: #FF5050;
}

#settings-button {
	margin-left: auto;
	background-color: #7070FF;
}

.gameContainer {
	display: flex;
	width: 80%;
	height: 80%;
	justify-content: center;
	align-items: center;
	
	padding: 10px;
	
	border: 1px solid black;
	border-radius: 1px;
	
	position: relative;
}

.gameHeader {
	position: absolute;
	display: flex;
	width: 100%;
	height: fit-content;
	justify-content: space-between;
	align-items: center;
	top: 0px;
	padding: 5px;
}

.gameHeaderText {
	font-size: 2rem;
	margin: 5px;
}

.timeLeftText {
	
}

.scoreText {
	
}

.hitsText {
	
}

.targetContainer {
	position: absolute;
	container-type: size;
	width: 87.5%;
	height: 87.5%;
	top: 0px;
	left: 0px;
}

.gameOverlay {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: solid white;
	
	gap: 20px;
}

.newGameOverlay {
	
}

.newGameHeading {
	font-size: 2.5rem;
	margin: 10px;
}

.gameOverOverlay {
	
}

.gameOverHeading {
	
}

.gameOverScore {
	font-size: 2.5rem;
}

.gameOverAccuracy {
	font-size: 2rem;
}

.gameOverResetText {
	font-size: 1.5rem;
}

.target {
	position: absolute;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	
	background: radial-gradient(
		circle,
		#ff0000 0% 19.5%,
		#ffffff 20.5% 39.5%,
		#ff0000 40.5% 59.5%,
		#ffffff 60.5% 79.5%,
		#ff0000 80.5% 100%
	);
}

